<p>Hi {{name}},</p>

<p>
  Thanks for bringing your organization
  {{APP_NAME}}, we are glad to have you here
</p>

<p>
  We built
  <b>{{APP_NAME}}</b>
  to help you grow, manage and engage your community
</p>

<p>We are really curious why you signed up on {{APP_NAME}}.</p>

<p>
  Your feedback will really help us improve our products, as we always aim to
  deliver exactly what our customers want.
</p>

<p>Share your thoughts by replying to this email.</p>

<p>
  Over the next few weeks, you can expect a few more emails from us. All these
  messages will help you get the most out of
  {{APP_NAME}}.
</p>

<p>
  <a href='{{url}}'>Visit your organization dashboard</a>
</p>

<p>
  <span>Thanks!</span>
  <br />
  <span>{{APP_NAME}} Team.</span>
</p>